/*setear*/
* {
  margin: 0;
  padding: 0;
  text-align: center;
}
/*Clases reutilizables*/
.main-font {
font-family: 'Montserrat', sans-serif;
color: #212529;
text-transform: uppercase;
font-weight: bold;
}

.secondary.font {
font-family: 'Lato', sans-serif;
color: #fff;
font-size: 20px;
}

.line:nth-child(2n+1) {
color: #000;
text-align: center;
width: 30px;
}

/*Clases específicas*/
